* {
  box-sizing: border-box;
}

body {
  background-image: url(images/restaurant.jpg);
  background-size: cover;
  background-position: center;
}

.header {
  width: 100%;
  height: 100px;
  color: white;
  background: rgb(1, 25, 95);
}

.header h1 {
  margin-left: 150px;
  padding-top: 20px;
}

.btn-lg {
  margin-left: 1100px;
  margin-top: -80px;
}

.container {
  padding: 10px;
  width: 100%;
  height: 75vh;
  margin: 50px auto;
  position: relative;
  background: white;
  border-radius: 50px;
  opacity: 90%;
}

/*---------table-----------*/

.tablecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablecontainer table {
  justify-content: center;
  margin-top: 50px;
  border: 3px solid rgb(11, 11, 143);
  border-radius: 20px;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 10px 10px 20px rgb(11, 11, 143);
  overflow: hidden;
}

.tablecontainer table thead tr {
  background-color: transparent;
  color: rgb(11, 11, 143);
  font-size: 18px;
  font-weight: 600;
}

.tablecontainer table tbody tr {
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.tablecontainer table thead tr th,
.tablecontainer table tbody tr td {
  min-width: 200px;
  padding: 7px;
  text-align: center;
  border-bottom: 3px solid rgb(11, 11, 143);
}

/*------------form-----*/

.addcontainer {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addcontainer form {
  width: 500px;
  height: 480px;
  margin-left: 60px;
  margin-top: -310px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
  border-radius: 20px;
}

.bi-x-circle-fill {
  color: rgb(211, 11, 11);
  margin-left: 400px;
  margin-top: -30px;
  font-size: 20px;
}

.addcontainer form input{
  border-radius: 10px;
}

.addcontainer form label {
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(10, 10, 164);
}

.btn-danger {
  margin-left: 10px;
}

